* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif; }

h1 {
  font-size: 3.7em; }

h2 {
  font-size: 2.7em; }

h3 {
  font-size: 2em; }

p {
  font-size: 1.25em; }

button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #a52828; }
  button :hover {
    background-color: #a52828; }

.container {
  max-width: 1400px;
  margin: auto; }

header {
  background-color: white; }
  header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    header .container .logo {
      margin: 0;
      padding: 25px 30px;
      font-weight: bold;
      color: #a52828;
      font-size: 1.6em; }
  header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px; }
    header nav a {
      padding: 5px 12px;
      text-decoration: none;
      font-weight: bold;
      color: black; }
      header nav a :hover {
        color: #a52828; }

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 90vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/theweekndfondo.jpg);
  background-size: cover;
  background-position: center center; }
  #hero h1 {
    color: white;
    padding: 12px; }

#biografia .container {
  text-align: center;
  padding: 200px 12px;
  line-height: 30px; }
  #biografia .container .color-acento {
    color: #a52828; }

#sobre-su-carrera {
  background-color: #1e1e1e;
  color: white;
  text-align: center; }
  #sobre-su-carrera .container {
    padding: 100px 0px; }
  #sobre-su-carrera h2 {
    margin-top: 0; }
  #sobre-su-carrera p {
    display: none; }
  #sobre-su-carrera .carta {
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px; }
    #sobre-su-carrera .carta a {
      text-decoration: none;
      list-style: none;
      color: white; }
      #sobre-su-carrera .carta a :hover {
        color: #a52828; }

.carta:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/theweekndfondonocopyright.jpg); }

.carta:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/theweeknd-afterhours.jpg); }

.carta:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/theweeknd-colaboraciones.png); }

#discos .container {
  text-align: center;
  padding: 100px 12px;
  line-height: 30px; }

#exitos .container, #genero .container .container {
  text-align: center;
  padding: 100px 12px;
  line-height: 30px; }

#colaboraciones .container {
  text-align: center;
  padding: 100px 12px;
  line-height: 30px; }

#genero .container {
  padding: 200px 12px; }

@media (min-width: 720px) {
  header {
    position: fixed;
    width: 100%; }
    header .container {
      flex-direction: row;
      justify-content: space-between; }
      header .container nav {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0;
        padding-right: 30px; }
  #biografia .container {
    display: flex;
    justify-content: center; }
    #biografia .container .img-container {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/theweeknd.jpg);
      background-size: cover;
      background-position: center center;
      height: 400px;
      width: 320px; }
    #biografia .container .texto {
      display: flex;
      justify-content: center;
      width: 50%;
      max-width: 600px;
      text-align: initial;
      padding: 0px 30px;
      flex-direction: column; }
      #biografia .container .texto h2 {
        margin-top: 0; }
  #sobre-su-carrera .cartas {
    display: flex;
    justify-content: center; }
    #sobre-su-carrera .cartas h3 {
      margin-top: 0; }
    #sobre-su-carrera .cartas p {
      display: block;
      margin-bottom: 30px;
      line-height: 32px; } }
